---
layout: base.njk
---

<div class="container my-5">
  {{ content | safe }}
</div>

<div class="container">
  <hr>
  <div class="my-5">
    {% for page in search.pages("layout=post.njk", "date=desc") %}
      <div class="mb-2 d-flex justify-content-between">
        <a href="{{ page.data.url }}">{{ page.data.title }}</a>
        <p class="text-muted text-end fw-light mb-0">{{ page.data.date | date("HUMAN_DATE") }}</p>
      </div>
    {% endfor %}
  </div>
</div>
