body {
    font-family: 'Roboto Slab', serif;
}

a {
    text-decoration: none;
}

#contact {
    padding-right: 0;
}

#about {
    background-color: #F7F7F7;
}

.card-footer span {
    display: inline-block;
}

.fa-python {
    color: #3776AB;
}

.fa-js {
    color: #F0DB4F;
}

.fa-bootstrap {
    color: #7952B3;
}

.fa-html5 {
    color: #E44D26;
}

.fa-css3-alt {
    color: #264DE4;
}

.heroku {
    color: #9E7CC1;
}

#footer p {
    margin: 12px;
}