body {
    font-family: 'Noto Sans JP', sans-serif;
}

a {
    text-decoration: none;
}

.navbar-brand {
    font-size: calc(1.3rem + .6vw);
}

#contact {
    padding-right: 0;
}

.card-footer span {
    display: inline-block;
}

.fa-python {
    color: #3572A5;
}

.fa-js {
    color: #F1E05A;
}

#footer p {
    margin: 12px;
}