body {
    font-family: 'Roboto Slab', serif;
}

a {
    text-decoration: none;
}

#toggle {
    padding-right: 0;
}

#about {
    color: #FFFFFF;
    background: linear-gradient(45deg, hsla(222, 51%, 34%, 1) 0%, hsla(119, 37%, 45%, 1) 100%);
}

.card {
    margin: 0.25rem;
}

.card-footer span {
    display: inline-block;
}

.fa-python {
    color: #0D6EFD;
}

.fa-js {
    color: #FFC107;
}

.fa-bootstrap {
    color: #6F42C1
}

.fa-html5 {
    color: #FD7E14;
}

.fa-css3-alt {
    color: #0D6EFD;
}

#footer p {
    margin: 12px;
}