---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Page Not Found">
  <div id="notfound">
    <p>404</p>
    <p class="heading">
      Page not found
    </p>
    <p class="link">
      <a href="/">&larr; Back to home</a>
    </p>
  </div>
</Layout>
