---
import Layout from "../layouts/Layout.astro";
import Posts from "../components/Posts.astro";
---

<Layout
  title="Emil Sadek"
  description="Emil Sadek's personal website and blog."
>
  <main>
    <p class="mb-8 rounded-lg bg-[#11111b] p-6 text-lg">
      Hi, I'm Emil. I'm the founder of <a href="https://northstardata.co/"
        >North Star Data</a
      >, a data engineering and analytics consultancy specialized in
      implementing modern data technologies for startups. Previously, I worked
      at RudderStack, enabling developers to solve complex customer data
      problems.
    </p>
    <Posts />
  </main>
</Layout>
