---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const posts = await getCollection("blog");
const sortedPosts = posts.sort((a, b) => {
  return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
});
---

<Layout title="Emil Sadek">
  <main class="text-lg">
    <p class="bg-[#11111b] rounded-lg p-6 mb-8">
      Hi, I'm Emil. I'm the founder of <a href="https://northstardata.co/">North Star Data</a>, a data engineering and analytics consultancy specialized in implementing modern data technologies for startups.
      Previously, I worked at RudderStack, enabling developers to solve complex customer data problems.
    </p>
    <ul class="flex flex-col gap-2 bg-[#1e1e2e] rounded-lg p-6">
      {sortedPosts.map((post) => (
        <a href={"/blog/" + post.slug}>
          <div class="flex justify-between hover:text-[#89b4fa]">
            <p>{post.data.title}</p>
            <p class="text-right">{new Date(post.data.date).toLocaleDateString("en-US", { year: "numeric", month: "long", day: "numeric" })}</p>
          </div>
        </a>
      ))}
    </ul>
  </main>
</Layout>
