---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<li class="bg-zinc-800 hover:bg-gradient-to-r from-zinc-700 border border-zinc-600 hover:border-zinc-500 rounded-lg p-6">
	<a href={href}>
		<h2 class="mb-1">
			{title}
			<span>&rarr;</span>
		</h2>
		<p class="text-base">
			{body}
		</p>
	</a>
</li>
