body {
    font-family: 'Noto Sans JP', sans-serif;
}

a {
    text-decoration: none;
}

.navbar {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.navbar-brand {
    font-size: calc(1.3rem + .6vw);
}

.navbar-dark .navbar-nav .nav-link {
    color: #FFFFFF;
}

#contact {
    padding-right: 0;
}