body {
    font-family: 'Noto Sans JP', sans-serif;
}

a {
    text-decoration: none;
}

.navbar-brand {
    font-size: calc(1.3rem + .6vw);
}

.navbar-dark .navbar-nav .nav-link {
    color: #FFFFFF;
}

#contact {
    padding-right: 0;
}