@import "https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap";
@import "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css";

:root {
    --white: #F8F8F2;
    --dark: #15171B;
    --purple: #D2A8FF;
    --muted: #6C757D;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    background-color: #1D1E26;
    color: var(--white);
}

main a {
    color: var(--white);
    text-decoration-color: var(--muted);
}

main a:hover {
    color: var(--white);
}

code {
    font-size: 85%;
    font-family: 'JetBrains Mono', monospace;
    color: var(--white);
    background-color: var(--dark);
    padding: .2em .4em;
    border-radius: 6px;
}

pre code {
    background-color: var(--dark) !important;
}

pre {
    border-radius: 6px;
}

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

#contact {
    padding-right: 0;
}

#post img {
    padding-bottom: 1rem;
    max-width: 90vw;
}

.container {
    max-width: 720px;
}

.navbar {
    background-color: var(--dark);
}

.navbar-brand {
    font-size: calc(1.3rem + .6vw);
    color: var(--white) !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--white);
}
