---
import type { CollectionEntry } from "astro:content";
import Layout from "./Layout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, date } = Astro.props;
---

<Layout title={title} description={description}>
  <div class="post pb-8">
    <div class="mb-8">
      <h1 class="mb-2 text-3xl">
        {title}
      </h1>
      <p class="text-[#a6adc8]">
        {
          new Date(date).toLocaleDateString("en-US", {
            year: "numeric",
            month: "long",
            day: "numeric",
          })
        }
      </p>
    </div>
    <slot />
  </div>
</Layout>
