h1 {
    font-weight: bold;
    letter-spacing: normal;
}

h2 {
    letter-spacing: normal;
}

hr {
    margin: 0;
}

.container {
    min-width: 100%;
    padding: 0;
}

#sidebar {
    color: white;
    text-align: center;
    background: #273746;
    padding-top: 3rem;
}

#sidebar > h2 {
    font-size: 2rem;
    margin: 2rem 0;
}

#portrait {
    width: 125px;
    margin-bottom: 2rem;
}

.button {
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: none;
    letter-spacing: normal;
    border: none;
    border-radius: 2px;
    padding: 0 35px;
    margin-bottom: 0;
}

.button:hover,
.button:focus {
    background-color: white;
}

#content {
    padding: 3rem;
}

#projects > h1 {
    font-size: 2rem;
}

@media (min-width: 550px) {
    #sidebar {
        height: 100vh;
        position: fixed;
    }

    #sidebar > h1 {
        font-size: 4vw;
    }

    #sidebar > h2 {
        font-size: 1.6vw;
    }

    .column {
        float: right;
    } 
}